# Shure Digital Audio Interfaces and Mics
# Grants access to /dev/hidrawN to the currently logged-in user via uaccess.
# No group membership required.
# Install to: /etc/udev/rules.d/62-shure.rules
# Then run: sudo udevadm control --reload-rules && sudo udevadm trigger
# MVX2U Gen 1
ACTION!="remove", SUBSYSTEMS=="hidraw", ATTRS{idVendor}=="14ed", ATTRS{idProduct}=="1013", TAG+="uaccess"
# MV6
ACTION!="remove", SUBSYSTEMS=="hidraw", ATTRS{idVendor}=="14ed", ATTRS{idProduct}=="1026", TAG+="uaccess"
